@charset "UTF-8";
/* CSS Document */

*{
	font-family:helvetica, sans-serif;
}

nav {
	background-color: #8B8888;
	width: 100%;
	height: 50px;
}

ul {
	list-style: none;
}

li {
	float: left;
	display:block;
	width: 150px;
	line-height: 50px;
}

a:link {
	text-decoration: none;
	color: white;
	font-family: helvetica, sans serif;
}

a:visited {
	color: black;
}

a:hover {
	color: #02B2A9;
}

a:active {
	color: #D5FF59;
}

h1 {
	clear:both;
}

h2 {
	font-weight: 200;
	margin-top: -20px;
}

tr:nth-child(even) {
	background-color: #FDFFB8;
}

th {
	padding: 5px 20px;
	text-align:left;
	border-left:1px solid #8F714C;
}

td {
	padding: 5px 30px;
	border-left:1px solid #8F714C;
	border-right:1px solid #8F714C;
}


table {
	border-collapse:collapse;
	border-bottom:1px solid #8F714C;
}

tr:nth-child(2) {
	border-top:1px solid #8F714C;
}

.image {
	border: 0px solid #8F714C;
	vertical-align: bottom;
}

span {
	font-weight:400;
	font-style:italic;
}

/*Beginning of form css*/

form {
	margin: 20px;
	width:auto;
}